
@model AvailableRoomsViewModel

@{
    ViewData["Title"] = "AvailableRooms";
}

<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8">
                <h2>
                    Свободни <b>стай</b> за периода:
                    <small style="color:black">@(Model.DateIN.ToString("dd/M/yyyy"))  и  @(Model.DateOUT.ToString("dd/M/yyyy"))</small>
                </h2>
            </div>

        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Номер</th>
                <th>Цена</th>
                <th>Капацитет</th>
                <th>Тип</th>
                <th>Описание</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model.AvailableRooms)
            {
                <tr data-status="active">
                    <td>@room.ID</td>
                    <td>@room.Number</td>
                    <td>@room.Price</td>
                    <td>@room.Capacity</td>
                    <td>@room.TypeName</td>
                    <td>@room.Discription</td>


                    <td class="btn btn-success"> @Html.ActionLink("Запази", "GuestInfo", new { id = room.ID, dateIN = Model.DateIN, dateOUT = Model.DateOUT })</td>
                </tr>
            }
        </tbody>

    </table>
</div>


